@charset "UTF-8";

/*
*	Site Settings
*/

// Fonts

$font1: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font2: Georgia, serif;

$base-font-size: 100%;
$base-line-height: 1.625;

// Colors

$color-main: #df2e30;
$color-body-text: #333;

$color-links: $color-body-text;
$color-links-hover: $color-main;
