@charset "UTF-8";

//
//	Site variables
//

// Typography settings

$base-font--primary: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font--secondary: Georgia, "Times New Roman", serif;

$base-font-size: 100%;
$base-line-height: 1.625;

// Color settings

$color__main: #df2e30;
$color__body-text: #333;

$color__links: $color__body-text;
$color__links--hover: $color__main;

$red: 	#E74C3C;
$blue:	#3498DB;
$green:	#2ECC71;


// Grid Settings

$column-count: 12;
$column-margin: 1.4%;

// Breakpoints

$breakpoint--small: 	20em;
$breakpoint--medium: 	60em;
$breakpoint--large: 	68.75em;
