@charset "UTF-8";

//------------------
//	Site variables
//------------------


//
// Typography settings
//


$font-family--primary: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family--secondary: Georgia, "Times New Roman", serif; 

$font-size--base: 16px;
$line-height--base: 1.625;


//
//  COLORS
//


$red:       #E74C3C;
$blue:      #3498DB;
$green:     #2ECC71;
$yellow:    #F1C40F;

$gray--light:   #FBFBFB;
$gray--medium:  #E8E8E8;
$gray--dark:    #98A89E;

$color__main: #df2e30;
$color__body-text: #333;

$color__links: $color__main;
$color__links--hover: $color__main;

$color__button--primary: $green;


//
//  Spacing
//

$base-spacing-unit: 20px;


//
//  Grid Settings
//

$column-count: 12;
$column-margin: 1.4%;


//
//  Breakpoints
//

$breakpoints: (
    bp--small:  ptoe(320px),
    bp--medium: ptoe(720px),
    bp--large:  ptoe(1100px),
);
