/**
 *  Color settings
 */


$red:       #E74C3C;
$blue:      #3498DB;
$green:     #2ECC71;
$yellow:    #F1C40F;

$gray--light:   #FBFBFB;
$gray--medium:  #E8E8E8;
$gray--dark:    #98A89E;

$color__main: #df2e30;
$color__body-text: #333;

$color__links: $color__main;
$color__links--hover: $color__main;

$color__button--primary: $green;
