/**
 *  Typography settings
 */

$font-family--primary: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family--secondary: Georgia, "Times New Roman", serif; 

$font-size--base: 16px;
$line-height--base: 1.625;
