[submodule "scss/mixins"]
	path = scss/mixins
	url = https://Kritzzz@github.com/Kritzzz/SCSS-Mixins.git
[submodule "scss/normalize"]
	path = scss/normalize
	url = https://Kritzzz@github.com/necolas/normalize.css.git
[submodule "scss/toast"]
	path = scss/toast
	url = https://Kritzzz@github.com/daneden/Toast.git
