/**
 * Base Styles
 */

html {
  box-sizing: border-box;

  color: $color__body-text;
  font-family: $font-family--primary;
  font-size: $font-size--base;
  line-height: $line-height--base;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {}

/**
 *   Enable responsive images
 */

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@import 'base.links';
@import 'base.lists';
